<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= profile.role_id %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= profile.route_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= profile.title %>
  </p>

</div>
