<article id="<%= dom_id gnome %>">
  <p>
    <strong>Route:</strong>
    <%= gnome.route_id %>
  </p>

  <p>
    <strong>Gnome name:</strong>
    <%= gnome.gnome_name %>
  </p>

  <p>
    <strong>G description:</strong>
    <%= gnome.g_description %>
  </p>

  <p>
    <strong>Location x:</strong>
    <%= gnome.location_x %>
  </p>

  <p>
    <strong>Location y:</strong>
    <%= gnome.location_y %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= gnome.location %>
  </p>
  
    <input type="submit" value="Like me!">
  </form>

</article>
