<head>

</head>

<%= image_tag ('gnome.png') %>
<h1>Geognome!</h1>
<p>
System naprowadzania i zarządzania wrocławskim krasnalami! 
</p>

<% if logged_in? %>
  <h2>Ulubione Gnomy</h2>
  <% current_user.profiles.each do |profile| %>
  	<% @roles.each do |role| %>
  		<% if profile.role_id == role.id %>
  			<% if profile.role_id == 1 %>
			    <% @routes.each do |route| %>
			    	<% if route.id == profile.route_id %>
			    		<h3>Wybrana trasa: <%= route.route_name %><br>-----------------------------</h3><br><br>
			    			<% @gnomes.each do |gnome| %>
			    			<% if gnome.route_id == route.id%>
			    			
			    				<p><%= gnome.gnome_name %></p>
			    				<p><%= gnome.g_description %></p>
			    				<p>X: <%= gnome.location_x %> Y: <%= gnome.location_y %></p>
			    				<br><br>

			    			<% end %>
			    		<% end %>
			    	<% end %>
			    <% end %>
  			<% end %>
  			<% if profile.role_id == 2 %>
  				<%= render @user %>

				<div>
				  <%= link_to "Edit this user", edit_user_path(@user) %> |
				  <%= link_to "Back to users", users_path %>

				  <%= button_to "Destroy this user", @user, method: :delete %>
				</div>
  			<% end %>
  			<% if profile.role_id == 3 %>
  			<% end %>
  		<% end %>
  	<% end %>
    
  <% end %>
<% else %>
  Nie jesteś zalogowany.
<% end %>
